{% extends 'base.html' %} 

{% block meta %}
    <title>Add New Product</title>
{% endblock meta %}

{% block content %}
<h1 style="text-align: center;">Add New Product</h1>

<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Product"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

{% endblock %}