{% extends 'base.html' %}

{% block content %}

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand">{{name}}</a>
            <a href="{% url 'main:logout' %}">
                <button>
                    Logout
                </button>
            </a>
        </div>
    </nav>
    <div class="m-4">
        <h1 style="text-align: center">Items Inventory</h1>
        <h5>Name:</h5>
        <p>{{name}}</p>

        <h5>Class:</h5>
        <p>{{class}}</p>

        <div class="d-flex grid gap-4 flex-wrap">
            {% for product in products %}
                <tr>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{product.amount}}</h6>
                            <p class="card-text">{{product.description}}</p>
                            <p class="card-added">Date added: {{product.date_added}}</a>
                        </div>
                    </div>
                </tr>
            {% endfor %}
        </div>
        
        <br />
        
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
{% endblock content %}